name: Build for Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    
jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup MSBuild path
        if: matrix.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v2
      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: .\.github\build\windows\init.bat
      - name: Build for Windows
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: .\.github\build\windows\release.bat
